body{
  background-color: rgb(255, 255, 255);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;
}
.image{
  width: 299px;
  height: 90px;
  margin-bottom: 25px;
}
@media(min-width:'350px'){
  .image{
    width: 25px;
  }
}