body{
  background-color: rgb(255, 255, 255);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;
}
.image{
  width: 50%;
  height: 100px;
  margin-bottom: 25px;
}
@media(min-width:'350px'){
  .image{
    width: 100%;
  }
}